



.divider{
    position:relative;
    text-align:center;
    margin:15px 0px;
    
    
    }
    
    .divider span{
    padding:8px;
    position:relative;
    z-index:20 !important; 
    font-size:15px;
    
    
    
    
    }
    
    .divider:after  {
    content:"";
    position:absolute;
    border-bottom:1px solid #ddd;
    width:100%; 
    top:50%;
    left:0;
    z-index: 1 !important;
    }
      
    